@using KitsuneAdminDashboard.Web.IRazorPageExtensions

@{
    ViewData["Title"] = "Analytics";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/k-admin/css/nd/helper.css" />
    <link rel="stylesheet" href="/k-admin/css/nd/analytics/analytics.css" />
    <link rel="stylesheet" href="/k-admin/css/nd/analytics/gwtanalytics.css" />
    <link rel="stylesheet" href="/k-admin/js/airbnb-style-datepicker/styles.css" />
}

<div id="wrapper" class="toggled">
    @Html.Partial("~/Views/Shared/Sidebar.cshtml")

    <div id="app" v-cloak>
        <div class="px-4">
            <k-header></k-header>
        </div>
        <div class="container-fluid p-5 pd-t0">
            <div class="row">
                <div class="col-xs-4 col-xl-4">
                    <div class="row">
                        <div class="ml-5 mb-3 content-section-title">Basic Overview</div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 mb-3" v-for="(card, key) in getOverviewCards">
                            <div class="card overview-card py-3 mb-2" v-on:click="onOverviewCardClick(key)" v-bind:class="{'with-pointer': key != 'visitors'}">
                                <div class="card-body">
                                    <k-loader v-if="(key == 'visitors' && loading.basicOverview.visitors)
                                      || (key == 'orders' && loading.basicOverview.orders)
                                      || (key == 'sales' && loading.basicOverview.sales)
                                      || (key == 'inbox' && loading.basicOverview.inbox)"></k-loader>
                                    <div class="container-fluid"
                                         v-if="(key == 'visitors' && !loading.basicOverview.visitors)
                                 || (key == 'orders' && !loading.basicOverview.orders)
                                 || (key == 'sales' && !loading.basicOverview.sales)
                                 || (key == 'inbox' && !loading.basicOverview.inbox)">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <div class="card-subtitle analytics-card-title">{{card.title}}</div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-9">
                                                <div v-if="key != 'sales'" class="analytics-card-figures">{{card.figure | numeralFormat}}</div>
                                                <div v-if="key == 'sales'" class="analytics-card-figures">₹ {{card.figure | numeralFormat}}</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="card-icon" v-bind:class="card.iconClass"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col conversion-figure"
                                                 v-bind:class="{'conversion-up': monthlyConversion[key] > 0, 'conversion-down': monthlyConversion[key] < 0}">
                                                <i v-if="monthlyConversion[key] > 0" class="fa fa-arrow-up conversion-up" aria-hidden="true"></i>
                                                <i v-if="monthlyConversion[key] < 0" class="fa fa-arrow-down conversion-down" aria-hidden="true"></i>
                                                {{monthlyConversion[key]}} %
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-xl-8">
                    <div class="row">
                        <div class="ml-5 mb-3 content-section-title">Results for {{getMonthAndYearText}}</div>
                    </div>
                    <div class="card overview-card">
                        <div class="card-body">
                            <div class="container-fluid p-4">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="card" id="visitorMonthGraphContainer">
                                            <div class="col-12 my-3 text-center"><h6>Visitors this month</h6></div>
                                            <div class="card-body">
                                                <div id="visitor-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="card" id="visitorCountryGraphContainer">
                                            <div class="col-12 my-3 text-center"><h6>Visitors by Country</h6></div>
                                            <div class="card-body">
                                                <div id="visitor-geo"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid p-4">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4">
                                        <div class="card" id="browserGraphContainer">
                                            <div class="col-sm-12 my-3 text-center"><h6>Browser</h6></div>
                                            <div class="card-body pt-0">
                                                <div id="browser" v-if="!isBrowserDataNotAvailable"></div>
                                                <div v-if="isBrowserDataNotAvailable" class="analytics-empty-placeholder p-5">
                                                    <img width="100" height="100" src="~/k-admin/images/analytics-browsers.svg" />
                                                    <p>No data yet !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-4">
                                        <div class="card" id="devicesGraphContainer">
                                            <div class="col-sm-12 my-3 text-center"><h6>Devices</h6></div>
                                            <div class="card-body pt-0">
                                                <div id="devices" v-if="!isDeviceDataNotAvailable"></div>
                                                <div v-if="isDeviceDataNotAvailable" class="analytics-empty-placeholder p-5">
                                                    <img width="100" height="100" src="~/k-admin/images/analytics-devices.svg" />
                                                    <p>No data yet !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-4">
                                        <div class="card" id="trafficGraphContainer">
                                            <div class="col-sm-12 my-3 text-center"><h6>Traffic Source</h6></div>
                                            <div class="card-body pt-0">
                                                <div id="referal" v-if="!isTrafficDataNotAvailable"></div>
                                                <div v-if="isTrafficDataNotAvailable" class="analytics-empty-placeholder p-5">
                                                    <img width="100" height="100" src="~/k-admin/images/analytics-search.svg" />
                                                    <p>No data yet !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid px-5 pb-3 search-analytics">
            <div class="row">
                <div class="ml-5 mb-3 content-section-title">Search Analytics</div>
            </div>
            <div class="card">
                <div class="card-body">
                    <template v-if="loading.searchAnalytics">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="card-subtitle">
                                        Showing Results for:
                                        <div v-tippy="{html: '#daterange-popover',
                                         interactive: true,
                                         theme: 'light',
                                         arrow: true,
                                         reactive: true,
                                         placement: 'bottom',
                                         hideOnClick: true,
                                         trigger: 'click'}">
                                            <span class="selected-date-range">
                                                {{selectedDateRangeText}}
                                            </span>
                                        </div>
                                        <div id="daterange-popover">
                                            <ul class="list-group">
                                                <li class="list-group-item text-left" v-on:click="getDetailedSearchAnalyticsDataForDateFilter('7days')">Last 7 days</li>
                                                <li class="list-group-item text-left" v-on:click="getDetailedSearchAnalyticsDataForDateFilter('28days')">Last 28 days</li>
                                                <li class="list-group-item text-left" v-on:click="getDetailedSearchAnalyticsDataForDateFilter('90days')">Last 90 days</li>
                                                <li class="list-group-item text-left">
                                                    <div class="datepicker-trigger" id="trigger-range">
                                                        <airbnb-style-datepicker :trigger-element-id="'trigger-range'"
                                                                                 :date-one="selectedDateRange.startDate"
                                                                                 :date-two="selectedDateRange.endDate"
                                                                                 :end-date="maxDateForDatePicker"
                                                                                 :fullscreen-mobile="true"
                                                                                 :offset-x="-200"
                                                                                 :offset-y="-200"
                                                                                 :trigger="datePickerTrigger"
                                                                                 v-on:apply="onDateRangeSelected"
                                                                                 v-on:date-one-selected="onStartDateSelected"
                                                                                 v-on:date-two-selected="onEndDateSelected"
                                                                                 v-on:closed="onDatePickerClosed">
                                                        </airbnb-style-datepicker>
                                                        Custom ...
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-md-2 col-xs-6 card-horizontal-divider">
                                    <div class="search-analytics-card-title">Search Queries</div>
                                    <div class="search-analytics-card-figure">{{searchAnalyticsCardData.totalNoOfSearchQueries || 0}}</div>
                                </div>

                                <div class="col-md-2 col-xs-6 card-horizontal-divider">
                                    <div class="search-analytics-card-title">Impressions</div>
                                    <div class="search-analytics-card-figure">{{searchAnalyticsCardData.totalNoOfImpressions || 0}}</div>
                                </div>

                                <div class="col-md-2 col-xs-6 card-horizontal-divider">
                                    <div class="search-analytics-card-title">Clicks</div>
                                    <div class="search-analytics-card-figure">{{searchAnalyticsCardData.totalNoOfClicks || 0}}</div>
                                </div>

                                <div class="col-md-2 col-xs-6">
                                    <div class="search-analytics-card-title">
                                        Avg.CTR
                                        <span class="avg-crt-icon"
                                              v-tippy="{html: '#avg-crt-tooltip-content', interactive: true, theme: 'light', arrow: true, reactive: true}"></span>
                                        <div id="avg-crt-tooltip-content">
                                            CTR = (Clicks/Impressions) x 100
                                        </div>
                                    </div>
                                    <div class="search-analytics-card-figure">{{searchAnalyticsCardData.ctr || 0}} %</div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-lg-4 col-xs-6 offset-lg-8 offset-xs-6 float-right">
                                    <div class="float-right" v-if="searchAnalyticsTableData.length">
                                        <paginate-links for="searchAnalyticsTableData"
                                                        :async="true"
                                                        :limit="2"
                                                        :show-step-links="true"
                                                        ref="paginationLinks">
                                        </paginate-links>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="col-12">
                                    <table class="table table-responsive-sm table-responsive-md table-responsive-xs search-analytics-table" v-if="searchAnalyticsTableData.length">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-left" v-on:click="sortDataBy('keyword')">
                                                    Keywords
                                                    <i :class="[detailedAnalyticsSort.sortColumn == 'keyword' ? ((detailedAnalyticsSort.sortOrder) ? 'fa fa-caret-up' : 'fa fa-caret-down') : '']" aria-hidden="true"></i>
                                                </th>
                                                <th class="text-center" v-on:click="sortDataBy('averagePosition')">
                                                    Avg. Position
                                                    <i :class="[detailedAnalyticsSort.sortColumn == 'averagePosition' ? ((detailedAnalyticsSort.sortOrder) ? 'fa fa-caret-up' : 'fa fa-caret-down') : '']" aria-hidden="true"></i>
                                                </th>
                                                <th class="text-center" v-on:click="sortDataBy('impressions')">
                                                    Impressions
                                                    <i :class="[detailedAnalyticsSort.sortColumn == 'impressions' ? ((detailedAnalyticsSort.sortOrder) ? 'fa fa-caret-up' : 'fa fa-caret-down') : '']" aria-hidden="true"></i>
                                                </th>
                                                <th class="text-center" v-on:click="sortDataBy('clicks')">
                                                    Clicks
                                                    <i :class="[detailedAnalyticsSort.sortColumn == 'clicks' ? ((detailedAnalyticsSort.sortOrder) ? 'fa fa-caret-up' : 'fa fa-caret-down') : '']" aria-hidden="true"></i>
                                                </th>
                                                <th class="text-center" v-on:click="sortDataBy('ctr')">
                                                    CTR
                                                    <i :class="[detailedAnalyticsSort.sortColumn == 'ctr' ? ((detailedAnalyticsSort.sortOrder) ? 'fa fa-caret-up' : 'fa fa-caret-down') : '']" aria-hidden="true"></i>
                                                </th>
                                                <th class="text-center" v-on:click="sortDataBy('country')">
                                                    Country
                                                    <i :class="[detailedAnalyticsSort.sortColumn == 'country' ? ((detailedAnalyticsSort.sortOrder) ? 'fa fa-caret-up' : 'fa fa-caret-down') : '']" aria-hidden="true"></i>
                                                </th>
                                                <th class="text-center">Device</th>
                                                <th class="text-center">Open</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="searchAnalyticsTableData.length">
                                            <paginate name="searchAnalyticsTableData"
                                                      :list="searchAnalyticsTableData"
                                                      :per="10"
                                                      v-if="searchAnalyticsTableData.length">
                                                <tr v-for="analyticsData in paginated('searchAnalyticsTableData')">
                                                    <td class="text-left">{{analyticsData.keyword}}</td>
                                                    <td class="text-center">{{analyticsData.averagePosition}}</td>
                                                    <td class="text-center">{{analyticsData.impressions}}</td>
                                                    <td class="text-center">{{analyticsData.clicks}}</td>
                                                    <td class="text-center">{{analyticsData.ctr * 100}} %</td>
                                                    <td class="text-center country-code">{{analyticsData.country}}</td>
                                                    <td class="text-center">
                                                        <span v-if="analyticsData.device == 'MOBILE'" class="table-icon table-icon-phone"></span>
                                                        <span v-else-if="analyticsData.device == 'TABLET'" class="table-icon table-icon-tablet"></span>
                                                        <span v-else-if="analyticsData.device == 'DESKTOP'" class="table-icon table-icon-laptop"></span>
                                                    </td>
                                                    <td class="text-center">
                                                        <a :href="analyticsData.pageURL" target="_blank">
                                                            <span title="Go to website" class="table-icon table-icon-link"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </paginate>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <k-loader size="lg"></k-loader>
                    </template>
                </div>

                @Html.Partial("~/Views/Shared/HelpModal.cshtml")

            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Modal.cshtml")
    @Html.Partial("~/Views/Shared/Header.cshtml")
    @Html.Partial("~/Views/Shared/KLoader.cshtml")
</div>

<!--JS files-->
@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/k-admin/js/libs/raphael-min.js"></script>
    <script src="/k-admin/js/libs/morris.min.js"></script>
    <script src="/k-admin/js/libs/vue-paginate.min.js"></script>
    <script src="/k-admin/js/libs/moment.min.js"></script>
    <script src="/k-admin/js/vue-tippy.min.js"></script>
    <script src=@this.AddFileVersionToPath("/k-admin/js/k-loader.js")></script>
    <script type="text/javascript" src="@this.AddFileVersionToPath("/k-admin/js/modal.js")"></script>
    <script type="text/javascript" src="/k-admin/js/numeral/numeral.min.js"></script>
    <script type="text/javascript" src="/k-admin/js/airbnb-style-datepicker/vue-airbnb-style-datepicker.min.js"></script>
    <script type="text/javascript" src=@this.AddFileVersionToPath("/k-admin/js/gwtanalytics.js")></script>
}