@using KitsuneAdminDashboard.Web.IRazorPageExtensions
@{
    ViewData["Title"] = "Orders";
}

@section Styles {
    <link rel="stylesheet" href="@this.AddFileVersionToPath("/k-admin/css/nd/style.css")" />
    <link rel="stylesheet" href="@this.AddFileVersionToPath("/k-admin/css/nd/helper.css")" />
    <link rel="stylesheet" href="@this.AddFileVersionToPath("/k-admin/css/nd/transactions/table.css")" />
    <link rel="stylesheet" href="@this.AddFileVersionToPath("/k-admin/css/nd/transactions/main.css")" />
    <link rel="stylesheet" href="/k-admin/css/libs/flatpickr.css">
    <link rel="stylesheet" href="/k-admin/css/nd/common/header.css">
}

<div id="wrapper" class="toggled">
    @Html.Partial("~/Views/Shared/Sidebar.cshtml")

    <div class="container-fluid" id="app" v-cloak>

        <div class="row pd-t0">
            <k-header></k-header>
        </div>

        <div class="row orders-row" v-if="isDataAvailable">

            <div class="orders-container">

                <div class="orders-header">
                    <div class="orders-payment">
                        <div class="heading">
                            <span>orders</span>
                            <div class="duration-selector invisible"> This Week</div>
                        </div>
                        <div class="total-collection">
                            TOTAL COLLECTION : {{totalAmount}}
                        </div>

                    </div>
                </div>

                <div>
                    @Html.Partial("~/Views/Transactions/_advancedSearch.cshtml")

                    <div class="tables-container">
                        <div class="current-data-container">
                            <table class="table table-bordered text-center totals">
                                <tr>
                                    <td>Earnings</td>
                                    <td>Transactions</td>
                                </tr>
                                <tr>
                                    <td>{{totalFilteredAmount}}</td>
                                    <td>{{advancedSearchResult.length}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="orders-table container-fluid">
                            <k-table :columns="table.columns" :select-transaction="selectTransaction" :search-query="searchQuery" :orders-to-show="table.ordersToShow" :orders="advancedSearchResult"></k-table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="zeroth-case" v-if="( !isDataAvailable && !isFetchingData)">
            <div v-if="!isKpayEnabled" class="text-center">
                <img src="/k-admin/images/orders_zeroth_case.png" alt="no orders present" />
                <p  style="cursor: pointer;" v-on:click="genericHelpModal.modalShowStatus = true">Did you know that you can accept payments online? To enable this feature, contact your developer.</p>
            </div>

            <div v-if="isKpayEnabled" class="text-center">
                <span>Looks like you don't have any orders yet.</span>
            </div>
        </div>

        @Html.Partial("~/Views/Transactions/_modals.cshtml")

        @Html.Partial("~/Views/Shared/HelpModal.cshtml")

    </div>

    @Html.Partial("~/Views/Shared/table.cshtml")
    <span style="display:none" id="developerEmail">@ViewBag.DeveloperEmail</span>
</div>

@Html.Partial("~/Views/Shared/Modal.cshtml")
@Html.Partial("~/Views/Shared/table.cshtml")
@Html.Partial("~/Views/Shared/Header.cshtml")

<!--JS files-->
@section scripts {
    <script src="/k-admin/js/libs/flatpickr.min.js"></script>
    <script src="/k-admin/js/libs/vueflatpickr.min.js"></script>
    <script src="/k-admin/js/libs/moment.min.js"></script>
    <script src="/k-admin/js/libs/accounting.min.js"></script>
    <script src="/k-admin/js/libs/vue-paginate.min.js"></script>

    <script src="@this.AddFileVersionToPath("/k-admin/js/common/helper.js")"></script>
    <script src="@this.AddFileVersionToPath("/k-admin/js/modal.js")"></script>
    <script src="@this.AddFileVersionToPath("/k-admin/js/common/table.js")"></script>
    <script src="@this.AddFileVersionToPath("/k-admin/js/transactions/main.js")"></script>
}