@using KitsuneAdminDashboard.Web.IRazorPageExtensions
<!DOCTYPE html>
<html>
<head>
    <title>k-admin - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/k-admin/favicon.png" />

    <link rel="stylesheet" href="/k-admin/css/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/k-admin/css/libs/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/k-admin/css/nd/common/toastr.css" />
    <link rel="stylesheet" type="text/css" href="@this.AddFileVersionToPath("/k-admin/css/nd/style.css")">
    <link rel="stylesheet" type="text/css" href="@this.AddFileVersionToPath("/k-admin/css/nd/common/header.css")">
    <link rel="stylesheet" type="text/css" href="@this.AddFileVersionToPath("/k-admin/css/nd/common/css-loader.css")" />
    @RenderSection("Styles", false)
</head>
<body>

    @RenderBody()
    <script src="/k-admin/js/libs/jquery.min.js"></script>
    <script src="/k-admin/js/libs/lodash.min.js"></script>

    <script src="/k-admin/js/toastr.min.js"></script>
    <script src="/k-admin/js/vue/vue.js"></script>
    <script src="/k-admin/js/libs/bootstrap.min.js"></script>
    <script src="/k-admin/js/libs/axios.js"></script>
    <script src="/k-admin/js/vue-tippy.min.js"></script>

    <script src="@this.AddFileVersionToPath("/k-admin/js/common/sidebar.js")"></script>
    <script src="@this.AddFileVersionToPath("/k-admin/js/common/loader.js")"></script>
    <script src="@this.AddFileVersionToPath("/k-admin/js/common/header.js")"></script>
    <script src="@this.AddFileVersionToPath("/k-admin/js/common/cookie_helper.js")"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>